{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Individual cards for leader boards

    block_stash/local/leaderboard_settings/leaderboard_cards
}}
<div class="card mb-1">
    <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <div class="ms-3">
            <div class="row form-check form-switch">
                <input type="checkbox" class="block_stash-leaderboard form-check-input"
                    id="cS-leaderboard-{{id}}" data-courseid="{{courseid}}" data-location="{{location}}"
                    {{#active}}checked="true"{{/active}}
                >
                <label class="form-check-label" for="cS-leaderboard-{{id}}">Enable</label>
            </div>
            {{{optionshtml}}}
            <input type="hidden" name="leaderboard-options-{{id}}" data-options="">
            <div class="row">
                <label class="form-label">{{#str}}resultslimit, block_stash{{/str}}</label>
                <div class="col-sm-1">
                    <input type="number" class="block_stash_change_element block_stash-leaderboard-limit form-control" min="1" value="{{rowlimit}}"
                        {{^active}}disabled{{/active}}
                    />
                </div>
            </div>
        </div>
    </div>
</div>
